:root {
    --yellow-color: #fafb63;
}
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom right, #000000 , #6bfff7, #000000);
    background-repeat: no-repeat;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5 auto);
    grid-template-rows: repeat(5, auto);
    
}

.item1 {
    grid-column: 1/3;
    grid-row: 2;
    color: #fafb63;
    text-shadow: 1px 1px 2px #000000;
    font-size: 40px;
    font-weight: 700;
}

.item1 p{
    color: #000000;
    text-shadow: 1px 1px 2px #fafb63;
    font-size: 22px;
}

.item2 {
    grid-row: 5;
    justify-content: center;
}

.box {
    grid-column: 5;
    grid-row: 2/4;
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, white, #fafb63);
    transition: 0.5s;
    animation: boxAnimate 4s linear infinite;
}

.box:hover::before{
    inset: -20px 0px;
}
@keyframes boxAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background:#000000;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 10px;
    border: 6px solid #000000;
    z-index: 3;
    border-radius: 50%;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.item4 {
    grid-column: 3;
    grid-row: 1/4;
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
}
.item4::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 10px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #000000;
    border-radius: 50%;
    animation: shadowAnimation 1.6s infinite;
}

@keyframes shadowAnimation {
    25% {
        width: 50px;
        height: 10px;
    }
    50% {
        width: 57px;
        height: 10px;
    }
    75% {
        width: 50px;
        height: 10px;
    }
}

.item4 .ball {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    top: 0;
    background: var(--yellow-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--yellow-color), 0
    0 30px var(--yellow-color);
    animation: ballAnimation 1.6s infinite;
}
@keyframes ballAnimation {
    5% {
        height: 50px;
        width: 50px;
    }
    20% {
        height: 60px;
    }
    30% {
        height: 50px;
        width: 50px;
    }
    50% {
        height: 45px;
        width: 60px;
        transform: translateY(260px);
    }
    75% {
        height: 50px;
        width: 50px;
    }
}

.container2 {
    padding: 5px;
    margin: 5px;
    grid-column: 1/5;
    grid-row: 3 ;
    justify-content: center;
}

.socialBtn button {
    position: relative;
    height: 40px;
    width: 120px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 19px;
    color: #6bfff7;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
}

.socialBtn button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6bfff7;
    z-index: -1;
    transition: .5s;
}

.socialBtn button:hover::before {
    width: 100%;
}

.socialBtn button:hover {
    color: #000000;
}

/* css for bootstrap .navbar */

.navbar{
    position: sticky;
    background-color: black;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28240, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text,
.navbar-brand,
.nav-link{
    color: #fafb63 !important;
}

.nav-link:hover {
    color: #4B8E7F !important;
}

/* this css is for the projects.html */

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    position: relative;
    width: 100px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    position: absolute;
    top: 10px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 120px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    text-shadow: 1px 1px 2px #000000;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.v1 {
    position: absolute; 
    width: 100%; 
    height: 400px; 
    object-fit: cover;
    overflow: hidden;
}

.v2 {
    position: absolute; 
    width: auto; 
    height: 400px; 
    object-fit: cover;
    overflow: hidden;
}

.v3 {
    position: absolute; 
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: 400px; 
    background-size: cover;
    overflow: hidden;
}

.btn-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btnHeader{
    padding: 20px;
    color: #fafb63;
    text-shadow: 1px 1px 2px #000000;
    font-weight: 700;
}

.btn-box button {
    position: relative;
    align-items: center;
    height: 40px;
    width: 120px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 19px;
    color: #6bfff7;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
}

.btn-box button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6bfff7;
    z-index: -1;
    transition: .5s;
}

.btn-box button:hover::before {
    width: 100%;
}

.btn-box button:hover {
    color: #000000;
}